 .navigation {
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color: #fff;
  color: black;
}
 .brand-name {
  padding-right: 10rem;
  color: #1eb2a6;
  font-weight: 500;
  transition: 0.5s;
  text-decoration: none;
  font-size: 1.3rem;
  margin-left: 1rem;
}
.navigation-menu {
  margin-left: auto;
}
 .navigation-menu ul {
  display: flex;
  padding: 0;
}
.navigation-menu li {
  list-style-type: none;
  font-weight: 500;
  transition: 0.5s;
  margin: 0 1rem;
  font-size: 0.9rem;
}
.navigation-menu li a {
  text-decoration: none;
  display: block;
  color: #1eb2a6;
  width: 100%;
}
.navigation-menu li a:hover{
  color: #0a7e74;
}
 .hamburger {
  border: 0;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  right: 30px;
  display: none;
}
.hamburger i{
  color: #1eb2a6;
  font-size: 1.5em;
}
.button1{
  padding:10px 20px;
  color:white;
  border:none;
  border-radius: 0.5rem;
  background: #1eb2a6;
  transition:all 100ms ease-out;
  margin-top: -0.5em;
  margin-right: 2.5em;
}
 @media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .navigation-menu ul {
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 77px);
    background-color: #1eb2a6;
    border-top: 1px solid white;
    display: none;
  }
  .navigation-menu.expanded ul {
    display: block;
    border-top: 2px solid white;
    z-index: 10;
  }
  .navigation-menu li {
    text-align: center;
    margin: 0;
  }
  .navigation-menu li a {
    color: white;
    width: 100%;
    padding: 1.5rem 0;
  }
  .navigation-menu li:hover {
    background-color: #eee;
  }
  .switch{
    display: none;
  }
  .button1{
    margin: 0;
  }
}