@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,700);

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.announcements{
    font-family: 'Merriweather', serif;
    font-size: 16px;
    background-color: #f8f8f8;
}
h1,h4{
  font-family: 'Montserrat', sans-serif;
}
.seperator{
  margin-bottom: 30px;
  width:35px;
  height:3px;
  background:#777;
  border:none;
}
.item {
  margin-top: 20px;
  margin-bottom: 30px;
  
  .item-in {
    background: #d8f2f0;
    padding: 40px;
    position: relative;
    
    &:hover:before {
      width: 100%;
    }
   
    &::before {
    content: "";
    position: absolute;
    bottom: 0px;
    height: 2px;
    width: 0%;
    background: #333333;
    right: 0px;
    -webkit-transition: width 0.4s;
    transition: width 0.4s;
    }
  }
}
.item{
    
  h4{
      font-size: 18px;
      margin-top: 25px;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
    p{
      font-size: 18px;
      letter-spacing: 2px;
    }
    a{
      font-family: 'Montserrat', sans-serif;
      font-size: 15px;
      text-transform: uppercase;
      color: #666666;
      margin-top: 10px;
      }
    }

    .item .fa-trash{
      padding-left: 30em;
      font-size: 30px;
    }
    .item .fa-trash:hover{
      color: red;
      cursor: pointer;
      transition: 0.2s ease;
      
    }

@media only screen and (max-width : 768px) {
  .item .icon{position: relative; top: 0; left:0;}
  .announcements{
    margin-top: 20px;
  }
}