/*--------header------------*/
.header_admin header {
  height: 6rem;
  margin: 0 auto;
  text-align: left;
}
.header_admin .button1{
  display: flex;
  padding:10px 10px;
  align-items: center;
  justify-content: center;
  color: white;
  border:none;
  border-radius: 0.5rem;
  background: #1eb2a6;
  transition:all 100ms ease-out;
  margin:0;
}
.header_admin .ps-button1{
  margin-top: 20px;
  margin-right: 20px;
  padding: 16px 28px;
  font-size: 12px
}
.header_admin .flexSB {
  display: flex;
  justify-content: flex-end;
}
.header_admin .flexSB header .nav {
  display: flex !important;
}
.header_admin .flexSB li {
  font-size: 0.9rem;
  margin-right: 40px;
  padding: 30px 15px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.5s;
}
.header_admin .flexSB a{
  color: #1eb2a6;
} 
.header_admin .headerTitle{
  padding-top: 2rem;
  padding-right: 15rem;
  color: #1eb2a6;
  font-weight: 500;
  transition: 0.5s;
  text-align: left;
}
.header_admin header ul li a:hover {
  color: #0a7e74;
}
.header_admin .toggle {
  display: none;
}
/*--------header------------*/
@media screen and (max-width: 768px) {
  .header_admin header {
    margin: 0;
    background-color: #1eb2a6;
    position: relative;
  }
  .header_admin header ul.flexSB {
    display: none;
  }
  .header_admin header ul li {
    margin-bottom: 20px;
  }
  .header_admin .toggle {
    display: block;
    background: none;
    color: #fff;
    font-size: 30px;
    position: absolute;
    right: 0;
    top: -20px;
  }
  .header_admin .mobile-nav {
    position: absolute;
    top: 2vh;
    left: 0;
    width: 100%;
    background-color: #1eb2a6;
  }
  .header_admin .button1{
    background-color: white;
    color:#1eb2a6;
  }
}
