.Question{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
    gap: 1rem;
}
/* ::-webkit-scrollbar {
    display: none;
} */
.Question>img{
    width: 100%;
    max-height: 20rem;
    border: 2px solid black;
    object-fit: cover;
    border-radius: 0.5rem;
}

.QuestionReact{
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
}

.QuestionReact>img{
    width: 27px;
}