.aboutHome {
    height: auto;
  }
  .aboutHome .flexSB1 {
    display: flex;
    justify-content: flex-end;
  }
  .aboutHome .flexSB {
    display: flex;
    justify-content: flex-end;
  }
  .aboutHome #heading {
    padding: 0;
  }
  .aboutHome .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .aboutHome .right {
    width: 50%;
    padding: 80px 50px;
  }
  .aboutHome .items {
    margin-top: 50px;
  }
  .aboutHome .item {
    background-color: #fff;
    width: 30em;
    margin-top: 30px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    padding: 40px;
    transition: 0.5s;
  }
  .aboutHome img {
    margin-right: 2em;
    width: 110px;
    height: 110px;
  }
  .aboutHome .item h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .aboutHome .item p {
    color: #999999;
  }
  .aboutHome .item:hover {
    background-color: #1eb2a6;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 5px 25px -2px rgb(0 0 0 / 6%);
  }
  .aboutHome .item:hover p {
    color: #fff;
  }
  /*----------awrapper------------*/
  .awrapper {
    background-image: url("../../../images/awrapper.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30vh;
    color: #fff;
  }
  .awrapper .box {
    padding: 70px 0;
  }
  .awrapper img {
    margin-right: 30px;
  }
  .awrapper h1 {
    font-size: 50px;
  }
  .awrapper h3 {
    font-size: 20px;
    font-weight: 500;
  }
  /*----------awrapper------------*/
  @media screen and (max-width: 768px) {
   #heading h3{
      padding-top:1em;
      font-size:22px;
    }
     #heading h1{
      padding-top:1em;
      font-size:1.5em;
    }
    .aboutHome .item{
      width: 18em;
    }
    .aboutHome .container {
      flex-direction: column-reverse;
    }
    .awrapper, .aboutHome .img {
      display: none;
    }
    .aboutHome .right,.aboutHome .row {
      width: 100%;
      padding: 0;
    }
  }